<h1 class="display-2">Új tranzakció</h1>
<form (submit)="submit(transactionForm)" #transactionForm="ngForm">
  <!-- Hivatkozok erre ez obejctre-->

  <div class="form-group">
    <mat-form-field>
      Forrás számlaszám :
      <input name="sourceAccountNumber" [(ngModel)]="transaction.sourceAccountNumber" matInput type="text"  >
      <!--location névvel hibvatkozok rá -->
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      Cél számlaszám:
      <input name="targetAccountNumber" [(ngModel)]="transaction.targetAccountNumber" matInput aria-describedby="descriptionHelp">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      Célszámla tulajdonosa:
      <input name="targetClientName" [(ngModel)]="transaction.targetClientName" matInput aria-describedby="descriptionHelp">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      Utalás összege:
      <input name="amount" [(ngModel)]="transaction.amount" matInput aria-describedby="descriptionHelp">
    </mat-form-field>
  </div>

  <!-- <button [disabled]="!issueForm.valid" ... -->
  <button type="submit" mat-raised-button color="primary"  (click)="submit(transactionForm)" routerLink="/transactions">Új tranzakció</button>
</form>