<h1 class="display-2">Új tranzakció</h1>
<form (submit)="submit(transactionForm)" #transactionForm="ngForm">
  <!-- Hivatkozok erre ez obejctre-->

  <div class="form-group">
    <mat-form-field>
      Forrás számlaszám : 
      <input name="sourceAccountNumber"
       [(ngModel)]="model.sourceAccountNumber"
       matInput type="text"
        placeholder="Adja meg a forrás számlaszámot!" 
        required pattern="A/d+"
        #sourceAccountNumber="ngModel">
      <!--location névvel hibvatkozok rá -->
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      Cél számlaszám:
      <input name="targetAccountNumber" 
      [(ngModel)]="model.targetAccountNumber"
       matInput aria-describedby="descriptionHelp"
        placeholder="Cél számlaszám:">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      Célszámla tulajdonosa:
      <input name="targetClientName" 
      [(ngModel)]="model.targetClientName"
       matInput aria-describedby="descriptionHelp"
        placeholder="Cél számla tulajdonos:">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      Utalás összege:
      <input name="amount" 
      [(ngModel)]="model.amount"
       matInput aria-describedby="descriptionHelp"
        placeholder="Utalás összege:">
    </mat-form-field>
  </div>

  <!-- <button [disabled]="!issueForm.valid" ... -->
  <button type="submit" 
  mat-raised-button color="primary" 
  routerLink="/transactions">Új tranzakció</button>
</form>